{% extends "layout.html" %}

{% block css %}

{% endblock %}


{% block content %}
    <h1>创造学生</h1>
    <form action="/add_student.html" method="POST">

        <p>
            <input placeholder="学生姓名" type="text" name="name" />
        </p>
        <p>
            <input placeholder="学生邮箱" type="text" name="email" />
        </p>
        <p>
            <!-- <input placeholder="班级ID" type="text" name="cls_id" /> -->
            <select name="cls_id">
                {% for op in cls_list %}
                    <option value="{{ op.id }}">{{ op.caption }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="提交"/>
    </form>
{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('#menu_student').addClass('active');
        });
    </script>
{% endblock %}