{%  extends 'index.html' %}

{% block page-content %}

    学员缴费记录

    <div id="content">
        <h3>学员基本信息审核</h3>
        {{ customer_form.as_p }}

            {% for field in payment_form %}

              <div class="form-group">
                <label  class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
              </div>

            {% endfor %}

            <hr>
            <h3>报名信息</h3>

            {{ enroll_form.as_p }}

            <a  href="{% url 'enrollment_rejection'  enroll_obj.id %}" class="btn btn-danger">驳回合同</a>
            <a href="{% url 'payment' enroll_obj.id %}" class="btn btn-success pull-right" >审核通过</a>
        <div class="row">
            <div >
                <ul>
                    {% for k,v in msgs.items %}
                    <li>{{ k }}:{{ v }}</li>
                    {% endfor %}
                </ul>

            </div>

        </div>
    </div>



{% endblock %}

{% block bottom-js %}

{% endblock %}