{%  extends 'index.html' %}

{% block page-content %}

    学员报名

    <div id="content">
        <form class="form-horizontal col-lg-7" role="form" method="post">{% csrf_token %}
            <span style="color: red">{{ enroll_form.errors }}</span>
              <div class="form-group">
                <label  class="col-sm-2 control-label">客户</label>
                <div class="col-sm-10">
                    qq:{{ customer_obj.qq }} name:{{ customer_obj.name }}
                </div>
              </div>
            {% for field in enroll_form %}

              <div class="form-group">
                <label  class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
              </div>

            {% endfor %}
            <input type="submit" class="btn btn-info pull-right" value="下一步">
        </form>
        <div class="row">
            <div >
                <ul>
                    {% for k,v in msgs.items %}
                    <li>{{ k }}:{{ v }}</li>
                    {% endfor %}
                </ul>

            </div>

        </div>
    </div>



{% endblock %}

{% block bottom-js %}

{% endblock %}